In [1]:
import pandas as pd
import NameEvaluation as ne
import numpy as np

[nltk_data] Downloading package cmudict to
[nltk_data]     C:\Users\s2384728\AppData\Roaming\nltk_data...
[nltk_data]   Package cmudict is already up-to-date!

In [2]:
df = pd.read_excel('Data/choice_names.xlsx')
df

,Input words,Input names,our choice
0,"Teapot, horse","['tease', 'teapotse', 'horteapot', 'horpot']","teapotse', 'horteapot'"
1,"Rhabarber, cushion","['cusbarber', 'cushionbarber', 'cusber', 'cush...",NaN
2,"climbing, silver","['climver', 'climbingver', 'silclimbing', 'sil...",NaN
3,"penguin, magnolia","['pengnolia', 'penguingnolia', 'penlia', 'peng...",NaN
4,"democracy, student","['stumocracy', 'studentmocracy', 'stucracy', '...",NaN
5,"christmas, kitten","['christen', 'christmasten', 'kitchristmas', '...",NaN
6,"blender, scissors","['blensors', 'blendersors', 'scisblender', 'sc...",NaN
7,"lantern, riding","['landing', 'lanternding', 'rilantern', 'ritern']",NaN
8,"relaxing, snoring","['snolaxing', 'snoringlaxing', 'snoxing', 'sno...",NaN
9,"evaluation, santa","['sanvaluation', 'santavaluation', 'sanluation...",NaN
10,"rock, dog","['docklow', 'roglow']",NaN

In [3]:
df['Input names'] = df['Input names'].apply(lambda s: s.strip('[').strip(']').strip("'").split("', '"))

In [4]:
df['eval'] = df['Input names'].apply(ne.evaluation_name)

In [8]:
df['eval'].apply(np.max)

0     {'teapotse': [0.0005376469965911446, 0.0004842...
1     {'cusbarber': [0.0005398114200493392, 0.000486...
2     {'climver': [0.0004051863857374392, 0.00036492...
3     {'pengnolia': [0.0005402485143165856, 0.000486...
4     {'stumocracy': [0.0006058200482975839, 0.00054...
5     {'christmasten': [0.0005402485143165856, 0.000...
6     {'blensors': [0.0004051863857374392, 0.0003649...
7     {'lanternding': [0.0005395934029411006, 0.0004...
8     {'snolaxing': [0.0005359278444671912, 0.000483...
9     {'sanvaluation': [0.0006059832969723311, 0.000...
10    {'docklow': [0.0028363784071117077, 0.00278089...
Name: eval, dtype: object

In [19]:
for dic in df['eval']:
    dic = dict(dic)
    df_klein = pd.DataFrame(dic).T
    print(df_klein.idxmax())

0    horteapot
1    horteapot
2    horteapot
3    horteapot
4    horteapot
5    horteapot
6    horteapot
7    horteapot
8    horteapot
9    horteapot
dtype: object
0    cushionbarber
1    cushionbarber
2    cushionbarber
3    cushionbarber
4    cushionbarber
5    cushionbarber
6    cushionbarber
7    cushionbarber
8    cushionbarber
9    cushionbarber
dtype: object
0    climbingver
1    climbingver
2    silclimbing
3    silclimbing
4    silclimbing
5    silclimbing
6    silclimbing
7    silclimbing
8    silclimbing
9    silclimbing
dtype: object
0    penguingnolia
1    penguingnolia
2    penguingnolia
3    penguingnolia
4    penguingnolia
5     magnopenguin
6     magnopenguin
7     magnopenguin
8     magnopenguin
9     magnopenguin
dtype: object
0    studentmocracy
1    democrastudent
2    democrastudent
3    democrastudent
4    democrastudent
5    democrastudent
6       democradent
7       democradent
8       democradent
9          demodent
dtype: object
0    christmasten
1    christmasten
2    christmasten
3    christmasten
4    christmasten
5    christmasten
6    christmasten
7    christmasten
8    christmasten
9    christmasten
dtype: object
0    scisblender
1    scisblender
2    scisblender
3    scisblender
4    scisblender
5    scisblender
6    scisblender
7    scisblender
8    scisblender
9    scisblender
dtype: object
0    lanternding
1    lanternding
2    lanternding
3    lanternding
4    lanternding
5    lanternding
6    lanternding
7    lanternding
8    lanternding
9    lanternding
dtype: object
0    snoringlaxing
1      relasnoring
2      relasnoring
3      relasnoring
4      relasnoring
5      relasnoring
6      relasnoring
7      relasnoring
8         relaring
9         relaring
dtype: object
0    esanta
1    esanta
2    esanta
3    esanta
4    esanta
5    esanta
6    esanta
7    esanta
8    esanta
9    esanta
dtype: object
0    roglow
1    roglow
2    roglow
3    roglow
4    roglow
5    roglow
6    roglow
7    roglow
8    roglow
9    roglow
dtype: object